.swiper {
    width: 90%;
    height: 50%;
    /* position: absolute; */
    left: 50%;
    top: 50%;
    margin-left: -45%;
    margin-top: 2rem;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 60%;
    border-radius: 12px;
  }
  
  .swiper-pagination-bullet {
    background-color: rgb(213, 213, 213);
    z-index: 999;
  }

  .swiper-pagination-bullet-active {
    background: #6BDA01 !important;
    z-index: 2;
  }