.swiper {
    width: 90%;
    height: 280px;
    /* position: absolute; */
    left: 50%;
    /* top: 50%; */
    margin-left: -45%;
    margin-top: -20px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 450px;
    /* height: fit-content; */
  }
  