.headerLayout {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.headerComponent {
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    font-size: 4rem;
}