@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    -webkit-text-size-adjust​: none;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 65px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    justify-content: center;
    font-family: 'Pretendard';
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: fit-content;
    /* 화면 스크롤 방지를 위해 최소높이 지정 */
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 10px -50px 50px 15px rgba(105, 105, 105, 0.12), -10px -50px 50px 15px rgba(105, 105, 105, 0.12);
    /* 드래그 방지 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width:0px) {
    html {
      font-size: 8px;
    }
  }

/* 타블렛) 화면 너비: 576 ~  */
  @media (min-width:576px) {
    html {
      font-size: 10px;
    }
    body {
        width: 576px;
    }
  }

  /* 데스크톱) 화면 너비: 1024 ~ */
  @media (min-width: 1024px) {
    html {
        font-size: 10px;
      }
      body {
          width: 576px;
      }
  }

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }